h1 {
  color: #ccc #f40 #f90 #369;
  border-top: 1px solid #ccc;
  border-bottom: 4px solid #f40;
  padding-top: 1px;
  font-size: 1em; }

* {
  margin: 0;
  padding: 0; }

.divBox h2 {
  font-size: 2em;
  color: #F8F8F8; }

.divBox ul {
  font-size: 2em; }
  .divBox ul li {
    color: #333;
    width: 100px;
    margin: 1px 10px 20px 30px;
    list-style: none;
    border: 1px solid #F8F8F8; }

.yanConfrim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .yanConfrim .yanCOnfrimMask {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    filter: alpha(opacity=30); }
  .yanConfrim .yanConfrimBox {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3);
    background: #fff; }
    .yanConfrim .yanConfrimBox .yanConfrimTitle {
      overflow: hidden;
      border-bottom: 1px solid #eee;
      background: #F8F8F8; }
      .yanConfrim .yanConfrimBox .yanConfrimTitle h3 {
        color: #333;
        float: left; }
      .yanConfrim .yanConfrimBox .yanConfrimTitle span {
        float: right;
        text-align: right; }
        .yanConfrim .yanConfrimBox .yanConfrimTitle span a {
          color: #333;
          display: inline-block;
          text-decoration: none;
          background: url(../images/icon.png) no-repeat;
          background-position: 0 -40px;
          width: 16px;
          height: 16px; }
    .yanConfrim .yanConfrimBox .yanConfrimBody p {
      color: #333;
      display: inline-block;
      vertical-align: middle; }
    .yanConfrim .yanConfrimBox .yanConfrimFoot {
      text-align: right; }
      .yanConfrim .yanConfrimBox .yanConfrimFoot a {
        border: 1px solid #dedede;
        border-radius: 2px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        display: inline-block; }
      .yanConfrim .yanConfrimBox .yanConfrimFoot a.okBtn {
        border-color: #4898d5;
        background-color: #2e8ded;
        color: #fff; }
      .yanConfrim .yanConfrimBox .yanConfrimFoot a.cancelBtn {
        background-color: #f1f1f1;
        color: #333; }
  @media all and (min-width: 600px) {
    .yanConfrim .yanConfrimBox {
      width: 300px;
      height: 180px;
      margin: -90px 0 0 -150px; }
    .yanConfrim .yanConfrimTitle {
      line-height: 26px;
      margin: 5px 0px;
      padding-bottom: 5px; }
      .yanConfrim .yanConfrimTitle h3 {
        font-size: 14px;
        margin-left: 10px; }
      .yanConfrim .yanConfrimTitle span {
        width: 50px;
        padding-right: 10px; }
    .yanConfrim .yanConfrimBody {
      padding: 15px 20px;
      min-height: 65px; }
      .yanConfrim .yanConfrimBody p {
        font-size: 14px; }
    .yanConfrim .yanConfrimFoot {
      padding: 0 10px 0 0; }
      .yanConfrim .yanConfrimFoot a {
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        margin: 0 6px;
        padding: 0 15px;
        opacity: .9; }
      .yanConfrim .yanConfrimFoot a:hover {
        opacity: 1; } }
  @media all and (max-width: 600px) {
    .yanConfrim .yanConfrimBox {
      width: 300px;
      height: 180px;
      margin: -90px 0 0 -150px; }
    .yanConfrim .yanConfrimTitle {
      line-height: 26px;
      margin: 5px 0px;
      padding-bottom: 5px; }
      .yanConfrim .yanConfrimTitle h3 {
        font-size: 14px;
        margin-left: 10px; }
      .yanConfrim .yanConfrimTitle span {
        width: 50px;
        padding-right: 10px; }
    .yanConfrim .yanConfrimBody {
      padding: 15px 20px;
      min-height: 65px; }
      .yanConfrim .yanConfrimBody p {
        font-size: 14px; }
    .yanConfrim .yanConfrimFoot {
      padding: 0 10px 0 0; }
      .yanConfrim .yanConfrimFoot a {
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        margin: 0 6px;
        padding: 0 15px;
        opacity: .9; }
      .yanConfrim .yanConfrimFoot a:hover {
        opacity: 1; } }
