//定义变量
$color:red !default;//默认|初始变量
$color:blue;//赋值变量
//特殊变量
$borderTop:top !default;
$borderBottom:bottom;
$pix1:4px;
$borderColor:#f40;

//多值变量

	//list(arr) 
	//格式：通过空格，逗号或小括号分割多个值，
	//取值：nth($var,$index)
	$pix:1px 10px 20px 30px;//类似一维数据
	$color:#ccc #f40 #f90 #369;
	//xx xx,xx xx;类似二维数组
	//(xx xx)(xx xx);类似二维数组
	
	//map(json)
	//格式：$map:(key:value,...)
	//取值：map-get($map,$key)
	$size:(s1:1em,s2:2em,s3:3em,s4:4em);

h1{
	color:$color;
	border-#{$borderTop}:1px solid #ccc;
	border-#{$borderBottom}:#{$pix1} solid #{$borderColor};
	padding-top:nth($pix,1);
	font-size:map-get($size,s1);
}

*{margin:0;padding:0;}
$color:#333 #eee #F8F8F8;
.divBox{
	h2{
		font-size:map-get($size,s2);
		color:nth($color,3)
	}
	ul{
		font-size:map-get($size,s2);
		li{
			color:nth($color,1);
			width:100px;
			margin:$pix;
			list-style:none;
			border:nth($pix,1) solid nth($color,3);
		}
	}
}
.yanConfrim{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;

	.yanCOnfrimMask{
		background:#000;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		opacity:.3;
		filter: alpha(opacity=30);
	}

	.yanConfrimBox{
		position: absolute;
		left:50%;
		top:50%;
		border:1px solid nth($color,2);
		box-shadow: 1px 1px 50px rgba(0,0,0,.3);
		background: #fff;

		.yanConfrimTitle{
			overflow: hidden;
			border-bottom:1px solid nth($color,2);
			background:nth($color,3);
			h3{
				color:nth($color,1);
				float:left;
			}
			span{
				float:right;
				text-align: right;
				a{
					color:nth($color,1);
					display:inline-block;
					text-decoration: none;
					background: url(../images/icon.png) no-repeat;
				    background-position: 0 -40px;
					width: 16px;
				    height: 16px;
				}
			}
		}
		.yanConfrimBody{
			p{
				color:nth($color,1);
				display:inline-block;
				vertical-align: middle;
			}
		}
		.yanConfrimFoot{
			text-align: right;
			a{
			    border: 1px solid #dedede;
			    border-radius: 2px;
			    font-weight: 400;
			    cursor: pointer;
			    text-decoration: none;
			    display:inline-block;
			}
			a.okBtn{
			    border-color: #4898d5;
			    background-color: #2e8ded;
			    color: #fff;
			}
			a.cancelBtn{
				background-color: #f1f1f1;
			    color: #333;
			}
		}
	}

	//pc
	@media all and (min-width:600px){
		.yanConfrimBox{
			width:300px;
			height:180px;
			margin:-90px 0 0 -150px;
		}
		.yanConfrimTitle{
			line-height:26px;
			margin:5px 0px;
			padding-bottom:5px;
			h3{
				font-size:14px;
				margin-left:10px;
			}
			span{
				width:50px;
				padding-right:10px;
				a{

				}
			}
		}
		.yanConfrimBody{
			padding:15px 20px;
			min-height:65px;
			p{
				font-size:14px;
			}
		}
		.yanConfrimFoot{
			padding:0 10px 0 0;
			a{
				font-size:14px;
				height: 28px;
			    line-height: 28px;
			    margin: 0 6px;
			    padding: 0 15px;
			    opacity:.9;
			}
			a:hover{
				opacity: 1;
			}
		}
	}

	//mobile
	@media all and (max-width:600px){
		.yanConfrimBox{
			width:300px;
			height:180px;
			margin: -90px 0 0 -150px;
		}
		.yanConfrimTitle{
			line-height:26px;
			margin:5px 0px;
			padding-bottom:5px;
			h3{
				font-size:14px;
				margin-left:10px;
			}
			span{
				width:50px;
				padding-right:10px;
				a{

				}
			}
		}
		.yanConfrimBody{
			padding:15px 20px;
			min-height:65px;
			p{
				font-size:14px;
			}
		}
		.yanConfrimFoot{
			padding:0 10px 0 0;
			a{
				font-size:14px;
				height: 28px;
			    line-height: 28px;
			    margin: 0 6px;
			    padding: 0 15px;
			    opacity:.9;
			}
			a:hover{
				opacity: 1;
			}
		}
	}
}